@import url("https://fonts.google.com/specimen/Public+Sans");



body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans';
}

*{
  box-sizing:border-box;
  overflow-x:hidden;
  font-size:18px;
}


/* ---NAVIGATION BAR--- */


.navbar {
  background-color: rgb(0, 78, 66);
  height: 120px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-right: 80px; 
  padding-left: 80px;
  
}

.navbar img{
  width:217px
}
.burnsidehomelink {
  height:80px;
  width:auto;
}

.menu-link {
  color: white; 
  text-decoration: none;
  font-size: 18px; 

}


/* ---BREAD CRUMB--- */


.breadcrumb ul {
  list-style: none;
  display: flex;
  padding-top: 80px;
  padding-left:80px;
  font-size:18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.breadcrumb li {
  text-decoration:none;
  color: rgb(0, 78, 66);
}

.breadcrumb li a {
  text-decoration: underline;
  color: rgb(0, 78, 66);
}

.breadcrumb li + li::before {
  content: "»"; 
  padding: 0 8px; 
  color: rgb(0, 78, 66); 
}

/* OVERVIEW */

.two-column{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-left:265px;
  margin-right:140px;
  margin-top:10px;
  margin-bottom:100px;
}

.overviewtitle, h1{
  font-size:50px;
  margin-left:200px;
  
}

.info{
  margin-right:200px;
}

.overviewimage img{
  width:70%;
  text-align:center;
}

/* ---BLOCK 1--- */

.block-1{
  background-color:rgb(0, 78, 66) !important;
  padding-top:100px;
  padding-bottom:100px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.block1info{
  margin-left:140px;
  margin-right:20px;
}
.block1image, img{
  
}


/* ---FOOTER--- */



footer{
  margin-top: -11px;
  padding-left: 80px;
  padding-right: 150px;
  background-color: rgb(0, 78, 66);
  background-image: url("images/Digital_Rise\ pattern_landscape\ -\ Burnside\ pounamu\ \(fade\).jpg");
  background-size: contain;
  background-position: top;
  background-repeat: repeat-x;
}

.footercontent {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.column1, .column2{
  margin-top:50px;
  margin-bottom:50px;
}

.column1 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  align-self:flex-end;
}

.column1 img{
  max-width: 30%;
  height:auto;
}

.column2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap:100px;
}

.whitelink, .whitelink a, p#email, p#email a {
  color:white;
  text-decoration: none;
}

.whitelink a:hover, .whitelink a a:hover, p#email a:hover, p#email a a:hover {
  color:rgb(0, 171, 142);
  text-decoration: none;
}
