@import url("https://fonts.google.com/specimen/Public+Sans");



body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans';
}

*{
  box-sizing:border-box;
}


/* ---NAVIGATION BAR--- */


.navbar {
  background-color: rgb(0, 78, 66);
  height: 120px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-right: 80px; 
  padding-left: 80px;
  
}

.navbar img{
  width:217px
}
.burnsidehomelink {
  height:80px;
  width:auto;
}

.menu-link {
  color: white; 
  text-decoration: none;
  font-size: 18px; 

}


/* ---BREAD CRUMB--- */


.breadcrumb ul {
  list-style: none;
  display: flex;
  padding-top: 80px;
  padding-left:80px;
  font-size:18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.breadcrumb li {
  text-decoration:none;
  color: rgb(0, 78, 66);
}

.breadcrumb li a {
  text-decoration: underline;
  color: rgb(0, 78, 66);
}

.breadcrumb li + li::before {
  content: "»"; 
  padding: 0 8px; 
  color: rgb(0, 78, 66); 
}


/* ---FOOTER--- */


footer{
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(0, 78, 66);
  background-image: url("images/Digital_Rise\ pattern_landscape\ -\ Burnside\ pounamu.jpg");
  background-repeat: repeat;
  background-size:auto;

}

.footercontent {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.column1 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.whitelink {
  color:white;
}

.whitelink a {
  color:white;
}

.email {
  color:white;
  margin-bottom:3rem;
}

.email a {
  color:white;
  margin-bottom:3rem;
}